body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    background-image: url("space.png");
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.planet-area {
    height: 70vh;
    width: auto;
    display: flex;
}

.planet {
    height: auto;
    width: 60vh;
    z-index: 1;
}

.rocket {
    height: 30%;
    width: 20%;
    position: relative;
    left: -30%;
    bottom: -20%;
    overflow: hidden;
    transform: rotate(30deg);
    /*transform: translate(50px, -170px);*/
}

.control-panel {
    background-image: repeating-linear-gradient(45deg, transparent,
        transparent 15px, rgba(0,0,0,.9) 15px, rgba(0,0,0,.9) 30px);
    background-color: yellow;
    width: 32vw;
    height: 28vh;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    bottom: 0;
    left: 50%;
    align-self: flex-start;
}

.control-panel__inner {
    background-color: #2e2e2e;
    width: 30vw;
    height: 25vh;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#password {
    background-color: #2e2e2e;
    border: 2px yellow solid;
    border-radius: 4px;
    color: white;
    position: relative;
    right: 10%;
    top: 3%
}

#pwd-button {
    background-color: yellow;
    border: 2px yellow solid;
    border-radius: 4px;
    position: relative;
    top: -12%;
    right: -30%;
}

.check-buttons {
    /*background-color: #66cc66;*/
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10%;
}

.levers {
    /*background-color: #a2b7f9;*/
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -8%;
}

.levers input {
    transform: rotate(270deg);
    height: 3em;
    width: 4em;
    position: relative;
    top: 15%;
}

#launch {
    background-color: rgba(205, 0, 0, 0.4);
    border: 2px white solid;
    color: white;
    border-radius: 50%;
    width: 20%;
    position: relative;
    top: -5%;
}

@keyframes launch {
    0% {
        left: -30%;
        bottom: -20%;
    }
    100% {
        left: 20%;
        bottom: 50%;
    }
}

#start {
    animation: launch 3s;
}